# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
.idea/
*.iml
.local/
.cxx/
.navigation/
captures/
*.iws

# Kotlin
*.kotlin_module

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos de diagramas (OPCIONAL - elimina si los quieres versionar)
*.dra
class diagram.jpg
Diagrama de secuencia.png
Flujograma*.png
/local.properties
